.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.card-img {
  width: 100%;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail {
  padding: 0;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}
